.favorites-wrapper {
  width: 750px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  table {
    border: 1px solid black;
    padding: 20px;
  }

  th {
    margin: 10px;
  }

  td,
  tr {
    border: 1px solid black;
    padding: 10px;
  }
}

span {
  padding: 10px;
  background-color: #f1356d;
  font-size: 27px;
  border-radius: 10px;
  color: white;
  margin: 10px 0;
}

.no-favs {
  font-size: 30px;
  margin: 20px 0;
}
